*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}

body{
      color: nth($colores, 3);
      background-color: nth($colores, 1);
      overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h6 {
    
    line-height: 1.3;
    font-weight: 600;
    padding: 5px; 
}

.titulo{  
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.5em;
    letter-spacing: 1px ;    
    color: nth($colores, 4);    
    font-family: 'Roboto', sans-serif;
    text-align: center;  
    font-family: 'Roboto Mono', monospace;
}

.parrafo{  
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
    letter-spacing: 1px ;    
    color: nth($colores, 4);    
    font-family: sans-serif;
}

.btn{
    color: nth($colores, 4);
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 2px solid rgba(24, 26, 139, 0.2);
    background: transparent;     

    &:hover 
      {
        background-color: nth($colores, 10);
        border-color: nth($colores, 7);
      } 
    
  }

  .form-control {
    background-color: nth($colores, 1);
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border: 2px solid rgba(24, 26, 139, 0.2);
    background: transparent;      

    &:hover {
        color: nth($colores, 4);    
        cursor: pointer;
        border: 2px solid nth($colores, 7);     
      }
 
      
  }
  
.row{
  margin-right: 0px;
  margin-left: 0px;
}